/* Variables CSS */
:root {
    --primary-color: #007bff;
    --text-color: #fff;
    --background-color: #f2f2f2;
    --nav-background-color: rgba(128, 126, 126, 0.8);
}

/* Estilos Generales */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: white;
    margin: 0;
}
.container my-5 {
    color: #ffc107; /* Cambia #ffc107 al color que desees */
}

#Productos,
#Servicios {
    color: #333; /* Cambia #333 al color que desees */
}

#Productos p,
#Servicios p {
    color: #666; /* Cambia el color de los párrafos */
}

#Productos h3,
#Servicios h3 {
    color: #007bff; /* Cambia el color de los encabezados h3 */
}

#Productos a,
#Servicios a {
    color: #ffffff; /* Cambia el color de los enlaces */
}

#Contacto,
footer {
    color: #333; /* Cambia #333 al color que desees */
}

#Contacto p,
footer p {
    color: #666; /* Cambia el color de los párrafos */
}

#Contacto h3,
footer h3 {
    color: #007bff; /* Cambia el color de los encabezados h3 */
}

#Contacto a,
footer a {
    color: #28a745; /* Cambia el color de los enlaces */
}

.container {
    
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    color: #ffffff;
}

/* Header */
header {
    width: 100%;
    height: 600px;
    background: rgb(192, 153, 67);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(60, 11%, 62%, 0.521), hsla(51, 15%, 9%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(60, 43%, 52%, 0.521), hsla(53, 81%, 4%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;


}

.portada {
    position: relative;
    width: 100%;
    height: 600px; /* Ajusta la altura según necesites */
    overflow: hidden;
}

.portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textos-encima-portada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    text-align: center;
    width: 100%;
}

.textos-encima-portada h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.textos-encima-portada h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 2px);
    height: 500px;
}

.wave path {
    fill: #fff;
}

/* Navegación */
.navbar {
    background-color: var(--nav-background-color);
    border-radius: 5px;
    max-height: 20%;


}


.navbar-brand img {
    height: 60px;
    margin-top: -30px;  
}

.navbar-nav .nav-link {
    color: var(--text-color);
    max-height: 100%;
    
}

.navbar-nav .nav-link:hover {
    background-color: #ddd;
    color: black;
}

.red-social {
    color: var(--text-color);
    font-size: 1.5rem;
}

/* Productos y Servicios */
.productos-servicios,
.about-services {
    padding: 50px 0;
    background-color: var(--background-color);
}

.titulo {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.producto,
.new-servicio {
    text-align: center;
}

.producto img,
.new-servicio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
}

/* Contacto */
.new-contacto {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.contacto-info {
    margin-bottom: 30px;
}

.contacto-info h3 {
    margin-bottom: 20px;
}

.formulario-contacto-formspree label {
    display: block;
    margin-bottom: 10px;
}

.formulario-contacto-formspree input,
.formulario-contacto-formspree textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-contacto-formspree button {
    background-color: #28a745;
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.mapa-footer iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: var(--text-color);
    padding: 30px 0;
    text-align: center;
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.content-foo {
    margin-bottom: 20px;
}

.titulo-final {
    font-size: 1.2rem;
}

/* Estilos responsive */
@media (max-width: 768px) {
    
    .navbar-nav {
        text-align: center;
        background-color: #333;
    }

    .contacto-cont {
        flex-direction: column;
    }

    .mapa-footer iframe {
        height: 300px;
    }

    .textos-encima-portada h1 {
        font-size: 2rem;
    }

    .textos-encima-portada h2 {
        font-size: 1.2rem;
    }

    .red-social {
        color: var(--text-color);
        font-size: 1.5rem;
        margin-top: 40%;
    }
}

.contacto-info-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacto-info {
    width: 45%;
}

.formulario-contacto-formspree {
    width: 45%;
}

.producto p {
    font-size: 1rem; /* Ajusta el tamaño de fuente según necesites */
    color: #555; /* Ajusta el color del texto según necesites */
    margin-bottom: 15px; /* Ajusta el margen inferior según necesites */
    text-align: left; /* Alinea el texto a la izquierda */
    line-height: 1.6; /* Ajusta el espaciado entre líneas */
}